<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "impadimp.progettiamocilfuturo.edu.mit.scratch"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>#PiF - Test Imparare a Imparare</name>

    <description>
        An app made using Scratch, GitHub, and PhoneGap.
    </description>

    <author href="http://www.progettiamocilfuturo.it" email="francesco@progettiamocilfuturo.it">
        #Progettiamocilfuturo
    </author>

</widget>
